.Business {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 15px;
}
.Business:hover {
  cursor: pointer;
  border: 2px solid #438a14;
}

.Business .image-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333;
  height: 100px;
  width: 100px;
  border-radius:10px;
}

.Business .image-container img {
  width:100px;
}

.Business h2 {
  color: #7f7f7f;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.Business-information {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.Business-information p {
  font-size: .88rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.Business-reviews .restaurant-rating {
  color: #f1d165;
  font-size: 1.2rem;
}
.Business-reviews .restaurant-rating .MuiRating-decimal {
  margin-right: 3px;
}
.Business-reviews .user-ratings-total {
  font-size: .8rem;
  color: #ddd;
}
