.Business {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  background: #fff;
}
.Business:hover {
  cursor: pointer;
  border: 2px solid #438a14;
}

.Business .image-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333;
  height: 65px;
  width: 65px;
}

.Business .image-container img {
  width:65px;
}

.Business-information {
  width: 100%;
  padding-left: 15px;
}

.Business-information p {
  font-size: .88rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.Business h2 {
  color: #7f7f7f;
  margin-top: .1rem;
  margin-bottom: .3rem;
  font-size: .82rem;
  font-weight: 600;
}

.Business .title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.Business .favorite-icon {
  fill: #c9c9c9;
  float: right;
  margin: -9px -8px 0;
  align-self: flex-start;
}
.Business .PrivateSwitchBase-root-4 {
  padding:5px;
}
.Business-reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.Business-reviews .restaurant-rating {
  color: #f1d165;
  font-size: 1rem;
}
.Business-reviews .restaurant-rating .MuiRating-decimal {
  margin-right: 3px;
}
.Business-reviews .user-ratings-total {
  font-size: .6rem;
  color: #bbb;
}
