/* Universal Styles */

html {
  font-size: 18px;
}
body {
  margin: 0;
  background: #f8f8f8;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* App Styles */

.App {
  font-family: 'Proxima Nova', Arial, sans-serif;
}

h1,h2,h3,h4,h5 {
  color: #7f7f7f;
}

.content-container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
}

.map-container {
  width: 65%;
  height: 600px;
  margin-left: 20px;
}
#map {
  height: 100%;
  width: 100%;
}
